/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page */
body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        180deg,
        #edf6fb 0%,
        #dcecf7 100%
    );
    .login-card {
    width: 380px;
    height: 580px;

    background: white;

    border-radius: 30px;

    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}
}
.logo-circle {
    width: 90px;
    height: 90px;

    background: #E8DFFF;

    border-radius: 50%;

    margin: 50px auto 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}
.logo-letter {
    font-family: "Poppins", sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: #4F97D7;
}
h1 {
    text-align: center;

    color: #3E94CC;

    font-size: 36px;

    font-weight: 600;
}

.subtitle {
    text-align: center;

    color: #8D96A5;

    font-size: 15px;

    margin-top: 8px;
}
.login-form {
    margin-top: 35px;
}

.login-form input {
    width: 90%;
    padding: 16px;
    margin: 0 auto 18px;
display: block;

    border: none;
    border-radius: 22px;

    background: #F5F8FC;

    font-size: 15px;
    font-family: "Poppins", sans-serif;

    outline: none;
}

.login-form input:focus {
    border: 2px solid #4F97D7;
}

.login-form button {
    width: 90%;
    padding: 16px;

margin: 0 auto;
display: block;

    border: none;
    border-radius: 16px;

    background: #4F97D7;
    color: white;

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;

    transition: 0.3s;
}

.login-form button:hover {
    background: #3B86C8;
}
/* Forgot Password */
.forgot-password {
    display: block;
    margin-top: 16px;

    text-align: center;
    text-decoration: none;

    color: #8D96A5;
    font-size: 14px;
    font-weight: 500;

    transition: 0.3s;
}

.forgot-password:hover {
    color: #4F97D7;
}

/* Sign Up */
.signup-text {
    margin-top: 18px;

    text-align: center;

    color: #8D96A5;
    font-size: 14px;
}

.signup-link {
    color: #4F97D7;
    text-decoration: none;
    font-weight: 600;

    transition: 0.3s;
}

.signup-link:hover {
    color: #3B86C8;
}
.login-form button {
    transition: all 0.25s ease;
}

.login-form button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(79,151,215,0.35);
}